<div class="principal-container">
  <div class="bar">
    <div class="bar-button-container escritorio">
      <button class="bar-button" routerLink="/login" routerDirection="root">Inicia Sesión</button>
    </div>
  </div>

  <div class="login-form-container">
    <div class="lune-logo-container">
      <img class="logo" src="../assets/icon/icono-lune.png">
    </div>

    <div class="" *ngIf="formStatus==1">
      <div class="input-container">
        <input class="input-form" type="text" placeholder="Usuario">
      </div>

      <div class="input-container">
        <input class="input-form" type="email" placeholder="Correo electrónico">
      </div>
      <div class="input-container">
        <input class="input-form" type="password" placeholder="Contraseña">
      </div>
      <div class="login-button-container">
        <button class="login-button">Registrarse</button>
      </div>
    </div>
  </div>

  <div class="link-registro-container celular">
    <h1 class="link-registro celular" routerLink="/login" routerDirection="root">Inicia Sesión Aquí</h1>
  </div>

  <div class="colaborator-container">
    <h1 class="info-colaborator">Artista Colaborador <a class="link-colaborator" style="text-decoration: none;" href="https://www.instagram.com/matiasmanchita/" target="_blank"><b>matimanchita</b></a></h1><div class="colaborator-picture-container"><a href="https://www.instagram.com/matiasmanchita/" target="_blank"><img class="colaborator-picture" src="https://64.media.tumblr.com/9eb24e2bd75133ef887c6a47f9d0a082/df180c2d9da62c01-7b/s1280x1920/263c482427a701f8409a8fed0106f636b9ffd0bc.png"></a></div>
  </div>
</div>

<div class="animation-layer">
    
</div>
